* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: linear-gradient(to bottom, #2c3e50, #1a1a1a);
  color: #f4f4f4;
  line-height: 1.6;
}

#main-destinos {
  width: 100%;
  min-height: 80vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.container-titulo-destinos {
  .titulo-destinos {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  h1 {
    font-size: 36px;
    color: #e67e22;
  }
  h3 {
    font-size: 18px;
    color: #bdc3c7;
    font-weight: 400;
  }
}

.container-destinos-categoria {
  width: 100%;
  height: auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  .destinos-categoria-titulo {
    font-size: 18px;
  }
  .destinos-categoria-filtro {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    .filtro {
      background-color: rgba(255, 255, 255, 0.1);
      padding: 10px 20px;
      border-radius: 20px;
      font-size: 16px;
      transition: all 0.3s ease;
    }
    .filtro:hover {
      background-color: #e67e22;
    }
  }
}

.container-buscar-destino {
  .buscar-destino {
    display: flex;
    width: 70%;
    height: 50px;
    margin: 0 auto;
    .buscar-destino-input {
      width: 80%;
      border-start-start-radius: 10px;
      border-end-start-radius: 10px;
      padding-left: 20px;
      font-size: 16px;
      border: none;
    }
    .buscar-destino-btn {
      width: 14%;
      background-color: #e67e22;
      color: white;
      border-start-end-radius: 10px;
      border-end-end-radius: 10px;
      border: none;
      cursor: pointer;
      font-size: 16px;
      font-weight: 500;
      transition: all 0.2s ease;
    }
    .buscar-destino-btn:hover {
      background-color: #d35400;
    }
  }
}

.container-destinos-continente {
  display: flex;
  flex-direction: column;
  gap: 20px;
  .destinos-continente-titulo {
    h1 {
      font-size: 28px;
      color: #e67e22;
    }
  }
  .destinos-continentes {
    display: flex;
    flex-wrap: wrap;
    h3 {
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
      padding: 10px 20px;
      background-color: transparent;
      color: #e9e9e9;
      border: none;
      border-bottom: 2px solid #555;
      white-space: nowrap;
      cursor: pointer;
      transition: all 0.3s ease;
    }
  }
  .destinos-continentes h3:hover {
    color: #e67e22;
    border-bottom: 2px solid #e67e22;
  }
  .destinos-continentes-opciones {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    h3 {
      font-size: 14px;
      font-weight: 500;
      background-color: rgba(0, 0, 0, 0.3);
      border: 1px solid white;
      padding: 10px 20px;
      border-radius: 30px;
      cursor: pointer;
      transition: all 0.3s ease;
    }
  }
  .destinos-continentes-opciones h3:hover {
    background-color: #b4641f;
  }
}

.container-destinos-temporada {
  display: flex;
  flex-direction: column;
  gap: 36px;
  .titulo-destinos-temporada {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    h1 {
      font-size: 28px;
      color: #e67e22;
    }
    h3 {
      font-size: 18px;
      color: #bdc3c7;
      font-weight: 400;
    }
  }
  .container-cards-destinos-temporada {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    .card-destino-temporada {
      background-color: rgba(0, 0, 0, 0.3);
      border: 2px solid #444;
      border-radius: 20px;
      overflow: hidden;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      .imagen-destino-card {
        width: 300px;
        height: 160px;
        border-start-start-radius: 12px;
        border-start-end-radius: 12px;
        border: none;
        background-color: grey;
      }
      .ciudad-destino-card {
        padding: 8px 16px 8px 16px;
        font-size: 20px;
      }
      .pais-destino-card {
        padding: 0px 16px 16px 16px;
        font-size: 16px;
        font-weight: 400;
        color: #bdc3c7;
      }
    }
    .card-destino-temporada:hover {
      transform: translateY(-10px);
    }
  }
}

.container-destinos-destacados {
  display: flex;
  flex-direction: column;
  gap: 20px;
  .destinos-destacados-titulo {
    h1 {
      font-size: 28px;
      color: #e67e22;
    }
  }
  .container-cards-destinos-destacados {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    .card-destinos-destacados {
      position: relative;
      min-height: fit-content;
      width: 100%;
      max-width: 100%;
      justify-content: space-between;
      display: flex;
      flex-direction: column;
      gap: 12px;
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 20px;
      overflow: hidden;
      flex-wrap: wrap;
      transition: all 0.3s ease;
      border: 1px solid #444;
      align-items: stretch;
      .card-badge {
        background-color: red;
        position: absolute;
        left: 16px;
        top: 16px;
        padding: 4px 8px;
        font-size: 12px;
        font-weight: bold;
        border-radius: 4px;
        z-index: 10;
      }
      .imagen-destino-principal-card {
        height: 220px;
        min-width: 100%;
        width: 100%;
        object-fit: cover;
        border-start-start-radius: 12px;
        border-start-end-radius: 12px;
        border: none;
      }
      .card-destinos-texto {
        padding: 10px 24px 24px 24px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 8px;
        .season-rating {
          display: flex;
          justify-content: space-between;
          font-size: 14px;
          .season {
            color: skyblue;
          }
          .rating {
            color: gold;
            letter-spacing: 2px;
          }
        }
        .ciudad-destino-principal-card {
          font-size: 24px;
          font-weight: 700;
        }
        .pais-destino-principal-card {
          font-size: 16px;
          font-weight: 500;
          color: #bdc3c7;
        }
        .descripcion-destino-principal-card {
          font-size: 14px;
          font-weight: 500;
          color: #999;
          height: 100px;
          overflow: hidden;
        }
        .card-features {
          display: flex;
          flex-wrap: wrap;
          gap: 12px;
          padding-top: 10px;
          padding-bottom: 10px;
          span {
            background-color: rgba(255, 255, 255, 0.1);
            padding: 4px 8px;
            border-radius: 6px;
            font-size: 14px;
          }
        }
        .btn-ver-mas-destino-princ-card {
          height: 44px;
          width: 100px;
          font-size: 16px;
          font-weight: 600;
          background-color: #e67e22;
          color: white;
          border-radius: 4px;
          transition: all 0.3s ease;
          border: none;
        }
        .btn-ver-mas-destino-princ-card:hover {
          background-color: #d35400;
          transform: translateY(-2px);
        }
      }
    }
    .card-destinos-destacados:hover {
      transform: translateY(-5px);
    }
  }
}

.container-comentarios {
  display: flex;
  flex-direction: column;
  gap: 20px;
  .comentarios-titulo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    h1 {
      font-size: 28px;
      color: #e67e22;
    }
    h4 {
      font-size: 18px;
      color: #bdc3c7;
      font-weight: 400;
    }
  }
  .container-cards-comentarios {
    display: flex;
    gap: 24px;
    .card-comentario {
      background-color: rgba(0, 0, 0, 0.3);
      width: 100%;
      padding: 20px 28px;
      border: 1px solid #444;
      border-radius: 12px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 10px;
      transition: all 0.3s ease;
      .container-info-viajero {
        display: flex;
        gap: 20px;
        .foto-viajero {
          width: 60px;
          height: 60px;
          background-color: #525455;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .nombre-viajero {
          display: flex;
          flex-direction: column;
          justify-content: center;
          h2 {
            font-size: 20px;
          }
          h3 {
            font-size: 14px;
            font-weight: 400;
            color: #bdc3c7;
          }
        }
      }
      .rating {
        color: gold;
        letter-spacing: 2px;
      }
      .comentario-viaje {
        h2 {
          font-size: 16px;
          font-weight: 400;
          font-style: italic;
        }
      }
      .container-fotos-viaje {
        display: flex;
        gap: 10px;
        padding-top: 8px;
        .foto-viaje {
          height: 60px;
          width: 80px;
          background-color: #525455;
          border-radius: 8px;
        }
      }
    }
    .card-comentario:hover {
      transform: translateY(-5px);
    }
  }
  .container-btn-ver-experiencia {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 30px;
    .btn-ver-experiencias {
      height: 50px;
      width: 220px;
      background-color: #e67e22;
      color: white;
      font-size: 16px;
      font-weight: 600;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      transition: all 0.3s ease;
    }
    .btn-ver-experiencias:hover {
      background-color: #d35400;
    }
  }
}

.container-newsletter {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid #444;
  padding: 20px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;
  .container-titulo-newsletter {
    display: flex;
    flex-direction: column;
    gap: 16px;
    h1 {
      font-size: 24px;
    }
    h3 {
      font-size: 16px;
      font-weight: 400;
      color: #bdc3c7;
    }
  }
  .container-correo-newsletter {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: auto;
    width: 100%;
    margin-bottom: 12px;
    margin: 0 auto;
    .correo {
      flex: 1;
      padding: 10px 15px;
      border-radius: 6px;
      border: none;
      font-size: 16px;
    }
    .btn-suscribirse {
      flex: 1;
      background-color: #e67e22;
      color: white;
      border-radius: 6px;
      border: none;
      cursor: pointer;
      padding: 10px 20px;
      font-size: 16px;
      font-weight: 400;
      transition: all 0.2s ease;
    }
    .btn-suscribirse:hover {
      background-color: #d35400;
    }
  }
}

@media (max-width: 768px) {
  .container-cards-comentarios {
    flex-direction: column;
  }
}

@media (min-width: 1200px) {
  #main-destinos {
    padding: 0 20vh;
  }

  .container-newsletter {
    .container-correo-newsletter {
      display: flex;
      flex-direction: row;
      gap: 0px;
      padding: 0 50vh;
      justify-content: center;
      align-items: center;
      padding-bottom: 0 10px;
      .correo {
        border-radius: 0;
        border-start-start-radius: 6px;
        border-end-start-radius: 6px;
      }
      .btn-suscribirse {
        flex: 0.1;
        border-radius: 0;
        border-start-end-radius: 6px;
        border-end-end-radius: 6px;
      }
    }
  }
}
